$background: #bababa;
$app: #cbf1f6;
$bar: #ade1df;
$nav-tab-inactive: #ade1df;
$nav-tab-active: #77d9e0;
$challenge-tile-border: #86cfec;
$challenge-tile-solved: #ade1df;
$challenge-tile-unsolved: #def3fe;
$popup-error: #f51a1a;
$popup-error-border: #970505;
$popup-info: #57c037;
$popup-info-border: #009414;
