$background: #282d39;
$app:  #c5f3c3;
$bar:  #9ae49a;
$font-color: #000000;
$link-color: #1c07e6;
$visited-link-color: #a105c8;
$nav-tab-active: #c2f8c6;
$challenge-tile-border: #9fcc99;
$challenge-tile-solved: #b4e3ad;
$challenge-tile-unsolved: #c9fed7;
$popup-error: #f51a1a;
$popup-error-border: #970505;
$popup-info: #57c037;
$popup-info-border: #009414;
$staging-title: #861dbc;
