@use '../../colors';

@mixin challenge-tile {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: colors.$challenge-tile-border;
}

.challenge-tile__solved {
  @include challenge-tile;
  background-color: colors.$challenge-tile-solved;
}

.challenge-tile__unsolved {
  @include challenge-tile;
  background-color: colors.$challenge-tile-unsolved;
}

.challenge-tile__header {
  cursor: pointer;
}

.challenge-tile__title {
  font-size: 30px;
}

.challenge-tile__category {
  font-size: 11px;
}

.challenge-tile__author {
  font-size: 11px;
}

@mixin challenge-tile__body {
  transition: max-height 0.3s;
  font-size: 14px;
}
.challenge-tile__body--open {
  @include challenge-tile__body;
  max-height: 250px;
  overflow: auto;
}

.challenge-tile__body--closed {
  @include challenge-tile__body;
  max-height: 0px;
  overflow: hidden;
}
