@use '../colors';

.nav-tab {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
  font-size: 18px;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  flex-grow: 1;
}

.nav-tab--inactive {
  @extend .nav-tab;
  //background-color: colors.$nav-tab-inactive;
}

.nav-tab--active {
  @extend .nav-tab;
  background-color: colors.$nav-tab-active;
}
