.login-form {
  flex: 1;
  text-align: left;
}

.login-form__username {
  font-family: "Fira Mono";
}

.login-form__password {
  font-family: "Fira Mono";
}

.login-form__submit {
  font-family: "Fira Mono";
}
