@use '../colors';

@mixin popup {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 3px;
    border-style: solid;
    border-radius: 6px;
    text-align:center;
}

.error {
    @include popup;
    background-color: colors.$popup-error;
    border-color: colors.$popup-error-border;
}

.info {
    @include popup;
    background-color: colors.$popup-info;
    border-color: colors.$popup-info-border;
}
