@use '../colors';

@mixin popup {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 3px;
  border-style: solid;
  border-radius: 6px;
  text-align: center;
}

.popup--error {
  @include popup;
  background-color: colors.$popup-error;
  border-color: colors.$popup-error-border;
}

.popup--info {
  @include popup;
  background-color: colors.$popup-info;
  border-color: colors.$popup-info-border;
}

.popup__container--invisible {
  //transition: max-height 0.4s;
  max-height: 0px;
  //overflow: hidden;
}

.popup__container--visible {
  transition: max-height 0.4s;
  max-height: 52px;
  //overflow: auto;
}
